<form [formGroup]="commandsForm" class="max-width" (ngSubmit)="addMenuItem()">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Description of the option"
            formControlName="description"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="selected material icon"
            formControlName="icon"
          />
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-form-field class="example-full-width">
    <mat-label>Command to execute</mat-label>
    <mat-select formControlName="command">
      <mat-option
        *ngFor="let command of allowedCommandList"
        [value]="command.id"
      >
        {{ command.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button type="submit">Submit</button>
</form>

<app-menu-item-list
  [itemsToShow]="newMenuItemsBuffer"
  (itemRemoved)="removeMenuItem($event)"
></app-menu-item-list>

<button mat-raised-button (click)="confirmNewItems()">Confirm</button>
